<!DOCTYPE html>
<html>
<head>
    <title>Mi Página en Azure</title>
    <style>
        body { 
            font-family: Arial; 
            background: #f4f4f4; 
            padding: 40px;
        }
        .card {
            background: white;
            padding: 30px;
            max-width: 400px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>¡Hola desde Azure App Service!</h1>
        <p>Descripcion</p>
    </div>
</body>
</html>

